In [2]:
!pip3 install pandas

WARNING: Ignoring invalid distribution -entencepiece (/opt/homebrew/lib/python3.10/site-packages)
WARNING: Ignoring invalid distribution -entencepiece (/opt/homebrew/lib/python3.10/site-packages)
Requirement already satisfied: pandas in /opt/homebrew/lib/python3.10/site-packages (1.5.3)
Requirement already satisfied: pytz>=2020.1 in /opt/homebrew/lib/python3.10/site-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /opt/homebrew/lib/python3.10/site-packages (from pandas) (1.24.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/homebrew/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /opt/homebrew/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
WARNING: Ignoring invalid distribution -entencepiece (/opt/homebrew/lib/python3.10/site-packages)
WARNING: Ignoring invalid distribution -entencepiece (/opt/homebrew/lib/python3.10/site-packages)
WARNING: Ignoring invalid distribution -entencepiece (/opt/homebrew/lib/python3.10/site-packages)
WARNING: Ignoring invalid distribution -entencepiece (/opt/homebrew/lib/python3.10/site-packages)

[notice] A new release of pip available: 22.2.2 -> 23.0
[notice] To update, run: python3.10 -m pip install --upgrade pip

In [3]:
import pandas as pd

In [4]:
test_data = pd.read_csv("test_result.csv",index_col=[0])

In [5]:

test_data = test_data.drop(columns =['plausible'])

new_test_data = test_data.head(-316)
new_test_data

                                             sentences
0    Tom stepped on a book that was left on the flo...
1    Tom walked in the door.Tom stepped on a book t...
2    Tom walked in the door.Tom stepped on a book t...
3    Tom walked in the door.Tom stepped on a book t...
4    John filled the sandbox with sand.John set the...
..                                                 ...
495  John was sitting in front of his desktop compu...
496  John was sitting in front of his desktop compu...
497  John was sitting in front of his desktop compu...
498  Ann read a book.Ann unplugged the phone.Ann re...
499  Ann read a book.Ann unplugged the phone.Ann re...

[500 rows x 1 columns]

In [6]:
test_result = pd.read_csv("test_prediction.csv", index_col=[0])

In [7]:
# test_result = test_result.drop('Unnamed: 0', axis=1, inplace=True)

In [8]:
test_result['result'] = test_result['result'].str.split("[").str[-1]

In [9]:
test_result['result'] = test_result['result'].str.split("]").str[0]
test_result['result'] = test_result['result'].astype(int)

In [10]:
test_result['result'] = test_result['result'].map({1:'plausible',0:'implausible'})

In [11]:
new_test_result = test_result.head(-316)
new_test_result

          result
0      plausible
1      plausible
2      plausible
3      plausible
4    implausible
..           ...
495    plausible
496  implausible
497    plausible
498  implausible
499    plausible

[500 rows x 1 columns]

In [12]:
test_data_result = new_test_result['result']

In [13]:
new_test_data = new_test_data.join(test_data_result)

In [14]:
new_test_data.to_csv("HW3.csv",index=False)

In [15]:
df = pd.read_csv('Batch_375637_batch_results.csv')